// Core variables and mixins
@import "~muicss/lib/sass/mui/colors",
"~muicss/lib/sass/mui/variables",
"~muicss/lib/sass/mui/mixins";
// Globals
@import "~muicss/lib/sass/mui/globals";
// Components
@import "~muicss/lib/sass/mui/appbar",
"~muicss/lib/sass/mui/buttons",
"~muicss/lib/sass/mui/checkbox-and-radio",
"~muicss/lib/sass/mui/containers",
"~muicss/lib/sass/mui/divider",
"~muicss/lib/sass/mui/dropdown",
"~muicss/lib/sass/mui/form",
"~muicss/lib/sass/mui/grid",
"~muicss/lib/sass/mui/panel",
"~muicss/lib/sass/mui/select",
"~muicss/lib/sass/mui/table",
"~muicss/lib/sass/mui/tabs",
"~muicss/lib/sass/mui/textfield";
// Miscellaneous
@import "~muicss/lib/sass/mui/helpers",
"~muicss/lib/sass/mui/overlay",
"~muicss/lib/sass/mui/ripple",
"~muicss/lib/sass/mui/typography";

$body-color : blue;

body {
  margin : 0;
}

.main-container {
  height : 100vh;
}

.mui-form {
  margin-top : 20%;
}

.mui-textfield {
  margin-bottom: 15px;
}

.step {
  display : none;
}

.nav-btn {
  display : none;
}

.active {
  display : block;
}

.radiogroup input {
  display : none;
}

.radio-btn-label {
  width  : 100%;
  margin : 0 0 10px 0;
  float  : none;
  background : none;
}

.radio-btn-label + .radio-btn-label {
  margin-left : 0;
}

.radio-btn-label {
  padding :0;
}

input[type="radio"] ~ .label-bg {
  display : block;
  background : lightgrey;
  height     : 40px;
  width : 100%;
}

input[type="radio"]:checked ~ .label-bg {
  background : #2196F3 !important;
}

.error-msg {
  margin-top: 5px;
  color: #F44336;
}